<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for ('static',filename ='signup.css') }}">
</head>
<body>
    <form id="msform"  method = POST>
    <fieldset>
    <h2 class="fs-title">LOG IN</h2>
    <input type="text" name="username" placeholder="Username" value = {{username}}>
    <input type="password" name="password" placeholder="Password" value = {{password}}>
    <input type="submit" name = "submit" class="action-button" id = "idSubmit" value = "Login">
    <input type="submit" name = "submit" class="action-button" id = "idSignUp" value = "Signup">
        {% if status == 1%}
        <th><p>Het so lan dang nhap cho user: {{username}}</p></th>
        <script>
            document.getElementById("idSubmit").disabled = true;
        </script>
        {% endif %}

        {% if status == 2%}
        <th><p>So lan sai: {{so_sai}} </p></th>
        {% endif %}

        {% if status == 3%}
        <th><p>Khong ton tai user: {{username}} </p></th>
        {% endif %}

<!--        {% if status == 4%}-->
<!--        <script>-->
<!--                alert("Chưa đăng nhập, phải đăng nhập dưới quyền admin");-->
<!--        </script>-->
<!--        {% endif %}-->

<!--        {% if status == 5%}-->
<!--        <script>-->
<!--                alert("Không tồn tại user, tiến hành đăng nhập lại");-->
<!--        </script>-->
<!--        {% endif %}-->

    </fieldset>
    </form>
</body>
</html>